<section id="product1" class="section-p1">
    <h2>Products From FatakPay</h2>
    <p>Winter  Collection New Morden Design</p>
    <div class="pro-container">
        <div class="pro" *ngFor="let product of products">
            <img src="assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>{{product.name}}</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>${{product.price}}</h4>
            </div>
            <div>
                <a (click)="addToCart(product)" ><i class="fal fa-shopping-cart cart"></i></a>
            </div>
        </div>
    </div>
</section>

